[submodule "recovery-no-op"]
	path = recovery-no-op
	url = http://wolf.dscloud.me:777/songdehuai/recovery-no-op.git
[submodule "recovery"]
	path = recovery
	url = http://wolf.dscloud.me:777/songdehuai/recovery.git
[submodule "quickAdapter"]
	path = quickAdapter
	url = http://wolf.dscloud.me:777/songdehuai/quickAdapter.git
[submodule "framework"]
	path = framework
	url = http://wolf.dscloud.me:777/songdehuai/framework.git
